@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.cabecalho{
    padding: 2% 0 0 19%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #0390FC;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: #edf0f3;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

.apr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20vw;
    margin-top: 10vh;
}

.apr_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apr_conteudo_titulo{
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Krona One', sans-serif;
}

.apr_conteudo_corpo{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.apr_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.apr_links_subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400;
}

.apr_links_github{
    /* background-color: #12BAFA; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 370px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    padding: 20px 0px;
    text-decoration: none;
    border: 2px solid #0390FC;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.apr_links_github:hover{
    background-color: #272727;
}

.apr_imagem{
    margin-right: 25vw;
}

.titulo-destaque{
    color: #0390FC;
}

.titulo-destaque:hover{
    color: #3fa9fa;
}

.rodape{
    position: absolute;
    right: 0;bottom:0;left:0;
    height: 50px;
    background-color: #0390FC;
    text-align: center;
}

.rodape_texto{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-family:  'Montserrat', sans-serif;
    
}