.grid {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: 240px;
    gap: 1em;
}

.header {
    background-color: rgba(0, 255, 255, 0.575);
    text-align: center;
    grid-column: 1 / 6;
}

.nav {
    background-color: blueviolet;
    text-align: center;
    grid-row: 2/8;
}

.section {
    background-color: chartreuse;
    text-align: center;
    grid-column: 2/6;
}

.article {
    background-color: crimson;
    text-align: center;
    grid-column: 1/5;
}

.footer {
    background-color: rgba(20, 173, 166, 0.514);
    text-align: center;
    grid-row: 8;
    grid-column: 1/6;
}

.teste {
    display: grid;
    grid-auto-rows: 100px;
    grid-column: 2/6;
    gap: 10px;
}